.navigation_container {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #0a0a10;
    color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 1px rgba(73, 128, 248, 0.4);

}

.navigation_logo {
    text-decoration: none;
    color: #4980F8;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.navigation_menu {
    margin-left: auto;
    text-decoration: none;

}

.navigation_menu a {
    color: #4980F8;
}

.navigation_menu ul {
    display: flex;
    padding: 0;
}

.navigation_menu li {
    list-style-type: none;
    margin: 0 1rem;
}

.navigation_menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: #2642af;
}

@media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .navigation_menu ul {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: #0a0a10;
      border-top: 1px solid black;
      display: none;
    }
  
    .navigation_menu li {
      text-align: center;
      margin: 0;
    }
  
    .navigation_menu li a {
      color: white;
      width: 100%;
      padding: 1.5rem 0;
    }
  
    .navigation_menu li:hover {
      background-color: #eee;
    }
  
    .navigation_menu.expanded ul {
      display: block;
    }
  }