.skills_container {
    color: white;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.skills_title {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 30px;

}

.skills_subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 700px;
    margin-bottom: 200px;


}

.skills_subcontainer img {
    height: 100px;

}

.skills_logocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.skills_logocontainer p {
    font-size: 15px;
}