.skills_container {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_title {
    margin-bottom: 60px;
}

.skills_subcontainer {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 70px;
    margin-bottom: 200px;
    align-items: center;


}

.skills_subcontainer img {
    max-width: 100px;
    max-height: 100px;
}