.about_container {
  color: white;
  max-width: 1400px;
  margin: auto;


}

.about_greetings {
  margin-top: 250px;
  text-align: center;
  font-size: clamp(40px, 8vw, 70px);
  text-transform: uppercase;
  letter-spacing: 2px;

}

@media only screen and (max-width: 480px) {
  .about_greetings {
    margin-top: 100px;
  }
}

.about_skills {
  text-align: center;
  font-size: clamp(15px, 3vw, 22px);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4980F8;
  margin-bottom: 50px;

}

.about_button_container {
  text-align: center;
}



/* CSS */
.about_button {
  align-items: center;
  background-color: #0a0a10;
  border: 1px solid #4980F8;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10px;
  letter-spacing: 0.5px;
}



.about_button:hover {
  background-color: #4980F8;
  border-color: white;
  fill: #06f;
  color: black;
}

.about_button:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .about_button {
    min-width: 170px;
  }
}