.about_container {
    color: white;
    max-width: 1400px;
    margin: auto;

}

.about_greetings {
    margin-top: 250px;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.about_skills {
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #4980F8;

}

